body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.mainContainer{
  width: 100%;
  height: 100vh;
  background-image: url("https://www.feriazaragoza.es/img/personalizacion/feriazaragoza/slider/home/cielo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cloud_1{
  width: 100%;
  height: 75vh;
  position: relative;
  z-index: 10;
  animation: cloud1 infinite 40s linear;
}
.cloud_1 > img{
  width: 100%;
}
.cloud_2{
  position: absolute;
  width: 100%;
  top: 25%;
  z-index: 70;
  animation: cloud2 infinite 30s linear;
}
.cloud_2 > img {
  width: 100%;
}
.cloud_3{
  position: absolute;
  width: 100%;
  top:0;
  z-index: 40;
  animation: cloud3 infinite 110s linear;
}
.cloud_3 > img{
  width: 100%;
}
@keyframes cloud1 {
  0%{
    transform: translateX(-30%);
  }
  100%{
    transform: translateX(100%);
  }
}
@keyframes cloud2 {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
@keyframes cloud3 {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}
.name-animation {
  color: #dcdce2;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 280px;
  height: 280px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: #a49754;
  line-height: 280px;
  -webkit-font-smoothing: antialiased;
  z-index: 60;
}
.name-animation:after,
.name-animation:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.name-animation:after {
  box-shadow: inset 0 17.5px 0 rgba(250, 250, 0, 0.6), inset 17.5px 0 0 rgba(250, 200, 0, 0.6), inset 0 -17.5px 0 rgba(250, 150, 0, 0.6), inset -17.5px 0 0 rgba(250, 100, 0, 0.6);
  -webkit-animation: rotar 2s -0.5s linear infinite;
          animation: rotar 2s -0.5s linear infinite;
}
.name-animation:before {
  box-shadow: inset 0 17.5px 0 rgba(0, 250, 250, 0.6), inset 17.5px 0 0 rgba(0, 200, 200, 0.6), inset 0 -17.5px 0 rgba(0, 150, 200, 0.6), inset -17.5px 0 0 rgba(0, 200, 250, 0.6);
  -webkit-animation: rotarIz 2s -0.5s linear infinite;
          animation: rotarIz 2s -0.5s linear infinite;
}
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@-webkit-keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@media (max-width: 950px) {
  .name-animation{
    left: 34%;
  }
}
@media (max-width: 650px) {
  .name-animation{
    top: 33%;
    left: 26%;
  }
}
